--
-- nawm is trivial wrapper around awesome-client
-- #!/bin/bash
-- echo "${*}" |DISPLAY=:0.0 awesome-client >/dev/null 2>&1
--
init = function()
    os.execute(string.format('%s', "nawm " .. "'volume.update_sinks()'"))
    os.execute(string.format('%s', "nawm " .. "'volume.update_inputs()'"))
end

server =
{
    any = function()
        os.execute(string.format('%s', "nawm " .. "'volume.update_sinks()'"))
        os.execute(string.format('%s', "nawm " .. "'volume.update_inputs()'"))
    end
}

sink =
{
    any = function()
        os.execute(string.format('%s', "nawm " .. "'volume.update_sinks()'"))
    end
}

sink_input =
{
    new = function()
        os.execute("pa_switch " .. 'true')
    end,
    any = function()
        os.execute(string.format('%s', "nawm " .. "'volume.update_inputs()'"))
    end
}

--any =
--{
    --any = function(t, o)
        --if (t ~= 'client') then
            --os.execute(string.format('%s', "nawm " .. "'naughty.notify({title=\""..t.."\", text= \""..o.."\"})'"))
            --os.execute(string.format('%s', "nawm " .. "'volume.update_sinks()'"))
            --os.execute("notify-send -t 1 'hello'")
        --end
    --end
--}
-- vim: ft=lua
