pa = require("pulseaudio") -- lua bindings to pulseaudio — https://github.com/liaonau/lua-pulseaudio

sink_input =
{
    -- move every new input to default sink
    new = function()
        local default = nil
        for i, s in pairs(pa:get_sinks()) do
            if (s.default) then
                default = s
                break
            end
        end

        for i, input in pairs(pa:get_sink_inputs()) do
            if (input.sink ~= default.index) then
                pa:move_sink_input(input.index, default.index)
            end
        end
    end,
}
